@model Tabemory.ViewModels.RecordReview;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using System.Drawing.Imaging;

@{
    ViewData["Title"] = "Details";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    DotNetEnv.Env.Load(".env");
    var key = DotNetEnv.Env.GetString("MAPBOX_API_KEY");
}

@if (Model.Record.UserId != loginUserId)
{
    <h1 class="text-danger">アクセス権がありません。</h1>
} else
{
    <h1>@Html.DisplayFor(model => model.Record.Name)</h1>
    <p>@Html.DisplayFor(model => model.Record.Station_name)</p>
    <form method="post" asp-action="Delete" onSubmit="return check()">
        <input type="hidden" name="value" value="@Model.Record.RecordId" />
        <input type="submit" value="削除" class="btn btn-primary" />
    </form>
}


<h3>レビュー</h3>

@if (Model.ReviewList.Count > 0)
{
    <ul>
        @foreach (var item in Model.ReviewList)
        {
            string stars = new String('★', item.Rating);
            <li class="fw-bold">
                @item.VisitDate.Month
                月
                @item.VisitDate.Day
                日 --
                @stars --
                @item.Comment
            </li>
            <form asp-controller="Reviews" asp-action="Delete" onSubmit="return checkR()">
                <input type="hidden" name="id" value="@item.ReviewId" />
                <input type="submit" value="削除" class="btn btn-primary" />
            </form>
        }
    </ul>

}
else
{
    <p>まだレビューはありません。</p>
}

<h4>レビューを追加しよう！</h4>

<form method="POST" action="">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label name="VisitDate" class="control-label">訪問日</label>
        <input name="values" type="date" class="form-control"/>
    </div>
    <div class="form-group">
        <label name="values" class="control-label">レーティング</label>
        <br>
        <input name="values" type="radio" value="1" /> 1
        <input name="values" type="radio" value="2" /> 2
        <input name="values" type="radio" value="3" checked /> 3
        <input name="values" type="radio" value="4" /> 4
        <input name="values" type="radio" value="5" /> 5
    </div>
    <div class="form-group">
        <label name="Comment" class="control-label">コメント</label>
        <textarea name="values" class="form-control" placeholder="ここにコメントを記載してください。"></textarea>
    </div>
    <input name="values" class="form-control" type="hidden" value="@Model.Record.RecordId">
    <div class="form-group">
        <input type="submit" value="レビュー追加" class="btn btn-success" />
    </div>
</form>

<script>
    function check() {
        if (window.confirm('このレストランを削除しますか？')) {
            return true;
        } else {
            window.alert('キャンセルしました。')
            return false;
        }
    }

    function checkR() {
        if (window.confirm('このレビューをを削除しますか？')) {
            return true;
        } else {
            window.alert('キャンセルしました。')
            return false;
        }
    }
</script>