@model Tabemory.ViewModels.RecordReview;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    DotNetEnv.Env.Load(".env");
    var key = DotNetEnv.Env.GetString("MAPBOX_API_KEY");
}


<div class="contents-container">
    <div class="detail-container">
@if (Model.Record.UserId != loginUserId)
{
    <h1 class="text-danger">アクセス権がありません。</h1>
} else
{   <div class="title-container">
            <img src="@Html.DisplayFor(model => model.Record.Photo)">
            <div>
            <p>@Html.DisplayFor(model => model.Record.Genre_catch)</p>
            <h1>@Html.DisplayFor(model => model.Record.Name)</h1>
                <p>ジャンル：@Html.DisplayFor(model => model.Record.Genre_name)</p>
                <p>最寄り駅：@Html.DisplayFor(model => model.Record.Station_name)</p>
            </div>
    </div>
    
    <div class="contents-box">
    <p>住所：@Html.DisplayFor(model => model.Record.Address)</p>
    <p>営業日：@Html.DisplayFor(model => model.Record.Open)</p>
    <p>定休日：@Html.DisplayFor(model => model.Record.Close)</p>
    <p>URL：@Html.DisplayFor(model => model.Record.Url)</p>
    <div class="float-end">
    <form method="post" asp-action="Delete" onSubmit="return check()">
        <input type="hidden" name="value" value="@Model.Record.RecordId" />
        <input type="submit" value="お店を削除" class="btn btn-warning" />
    </form>
            </div>
     </div>

     <div class="contents-box">
        <h3 class="mt-3">レビュー</h3>

        @if (Model.ReviewList.Count > 0)
        {
            
                @foreach (var item in Model.ReviewList)
                {
                    string stars = new String('★', item.Rating);
                    <div class="fw-bold d-flex justify-content-between p-1">
                        <div>
                        @item.VisitDate.Month
                        月
                        @item.VisitDate.Day
                        日 --
                        @stars --
                        @item.Comment
                        </div>
                        
                        <div>
                        <form asp-controller="Reviews" asp-action="Delete" onSubmit="return checkR()">
                            <input type="hidden" name="id" value="@item.ReviewId" />
                            <input type="submit" value="レビューを削除" class="btn btn-warning" />
                        </form>
                        </div>
                        
                    </div>
                    
                }
            

        }
        else
        {
            <p>まだレビューはありません。</p>
        }

        <h4 class="mt-3">レビューを追加しましょう</h4>

        <form method="POST" action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-1">
                <label name="VisitDate" class="control-label">訪問日</label>
                <input name="values" type="date" class="form-control" />
            </div>
            <div class="form-group p-1">
                <label name="values" class="control-label">レーティング</label>
                <br>
                <input name="values" type="radio" value="1" /> 1
                <input name="values" type="radio" value="2" /> 2
                <input name="values" type="radio" value="3" checked /> 3
                <input name="values" type="radio" value="4" /> 4
                <input name="values" type="radio" value="5" /> 5
            </div>
            <div class="form-group p-1">
                <label name="Comment" class="control-label">コメント</label>
                <textarea name="values" class="form-control" placeholder="ここにコメントを記載してください。"></textarea>
            </div>
            <input name="values" class="form-control p-1" type="hidden" value="@Model.Record.RecordId">
            <div class="form-group p-1">
                <input type="submit" value="レビューを追加" class="btn btn-warning" />
            </div>
        </form>
    </div>
}
    </div>
</div>


<style>
    html, body {
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3)), url(/images/croatia.jpg);
        height: 100%;
    }

</style>


<script>
    function check() {
        if (window.confirm('このレストランを削除しますか？')) {
            return true;
        } else {
            window.alert('キャンセルしました。')
            return false;
        }
    }

    function checkR() {
        if (window.confirm('このレビューをを削除しますか？')) {
            return true;
        } else {
            window.alert('キャンセルしました。')
            return false;
        }
    }
</script>

