
@{
    ViewData["Title"] = "Search";
}

<div class="contents-container">
<h1 class="page-title">訪問したレストランを検索しましょう</h1>

<div class="m-4">
    <form method="post" action="">
        <input name="values" type="text" placeholder="田町　焼肉" />
        <button type="submit" class="btn btn-warning">検索</button>
    </form>
</div>


@if (Model.ErrMsg != null)
{
    <h4 class="text-danger">@Model.ErrMsg</h4>
}

@if (Model.results != null) { 
@foreach (var item in Model.results.shop)
{
    <div class="card-product">
    <img src="@item.photo.mobile.l">
        <div class="card-product-infos">
            <p>@item.genre._catch @item.name</p>
            <p>ジャンル：@item.genre.name  最寄り駅：@item.station_name</p>
            <p>@item.address</p>
            </div>
            <div class="form-container">
                    <form method="post" asp-controller="Records" asp-action="Create" onSubmit="return check()">
                        <input name="items" value="@item.genre._catch" type="hidden" />
                        <input name="items" value="@item.genre.name" type="hidden" />
                        <input name="items" value="@item.name" type="hidden" />
                        <input name="items" value="@item.address" type="hidden" />
                        <input name="items" value="@item.station_name" type="hidden" />
                        <input name="items" value="@item.open" type="hidden" />
                        <input name="items" value="@item.close" type="hidden" />
                        <input name="items" value="@item.urls.pc" type="hidden" />
                        <input name="items" value="@item.photo.pc.l" type="hidden" />
                        <input type="submit" class="btn btn-warning" value="追加" />
                    </form>
            </div>
        
     </div>
   

    } }

</div>

<style>
    html, body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3)), url(../images/salzburg.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
    }

</style>

<script>
    function check() {
        if (window.confirm('このレストランを登録しますか？')) {
            return true;
        } else {
            window.alert('キャンセルしました。')
            return false;
        }
    }

</script>