
@{
    ViewData["Title"] = "Search";
}
<h1>訪問したレストランやカフェを検索しよう！</h1>

<p class="h4">
    ID:
    @(User.Identity.Name == null ? "no-data" : User.Identity.Name)
    @("/" + User.Identity.IsAuthenticated + "/" + User.Identity.AuthenticationType)
</p>

<form method="post" action="">
    <input name="values" type="text" placeholder="田町　焼肉"/>
    <button type="submit" class="btn btn-primary">検索</button>
</form>

@if (Model.ErrMsg != null)
{
    <h4 class="text-danger">@Model.ErrMsg</h4>
}

@if (Model.results != null) { 
@foreach (var item in Model.results.shop)
{
    <div class="d-flex m-2">
    <img src="@item.photo.mobile.l">
    <div>
            <h2>@item.name</h2>
            <p>@item.address</p>
    </div>
        </div>
   

    } }