@model IEnumerable<Tabemory.Models.Review>;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<div class="contents-container">
<h1 class="page-title">レビュー履歴</h1>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success alert-dismissable fade show m-1" role="alert">
        @TempData["AlertMessage"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}




        @foreach (var item in Model)
        {
        @if (item.Record.UserId == loginUserId) {

             string stars = new String('★', item.Rating);

            <div class="restaurant-card">
                <div class="d-flex justify-content-between">

                    <div>
                        <h4 class="fw-bold"><a asp-controller="Records" asp-action="Details" asp-route-id="@item.Record.RecordId" class="text-center">@Html.DisplayFor(modelItem => item.Record.Name)</a></h4>
                        @* <p class="fw-bold">@Html.DisplayFor(modelItem => item.Record.Name)</p> *@
                        <p>@Html.DisplayFor(modelItem => item.VisitDate) @stars </p>
                        <p>@Html.DisplayFor(modelItem => item.Comment)</p>
                    </div>

                    <div class="d-flex flex-column justify-content-between">
                    <a asp-action="Edit" asp-route-id="@item.ReviewId"><button class="btn btn-warning">編集</button></a>
                        <form asp-controller="Reviews" asp-action="Delete" onSubmit="return check()">
                            <input type="hidden" name="id" value="@item.ReviewId" />
                            <input type="submit" value="削除" class="btn btn-warning" />
                        </form>
                </div>
                </div>
            </div>
            }
        }


</div>

<style>
    html, body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3)), url(/images/coffeepc.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
    }

</style>

<script>
    function check() {
        if (window.confirm('このレビューを登録しますか？')) {
            return true;
        } else {
            window.alert('キャンセルしました。')
            return false;
        }
    }
</script>